<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uProfileTask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FAA27F31D72BE5700B98392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FAA28071D72BE5700B98392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FAA28121D72BE5700B98392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
